<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Welcome to Rove</h1>
  <p>Your portal to campus activities.</p>
</body>
</html>
